.profile {
  padding-top: 15px;
  display: flex;
  flex: 1;
}

.profile__sidebar {
  margin-right: 116px;
  width: 229px;
}

.profile__heading {
  display: flex;
  gap: 20px;
  padding-top: 16px;
}

.profile__text {
  margin: 0;
  font-size: 20px;
}

.profile__add-button {
  padding: 0;
  border: none;
  background: transparent;
  font-size: 20px;
  opacity: 0.6;
  cursor: pointer;
}

.profile__clothes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .profile__heading {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 540px) {
  .profile {
    flex-direction: column;
    padding-top: 0;
  }

  .profile__sidebar {
    width: 100%;
    margin: 0;
  }

  .profile__heading {
    justify-content: center;
  }
}

@media screen and (max-width: 430px) {
  .profile__heading {
    justify-content: space-between;
  }
}
