.page {
  background-color: #f3f3f3;
  font-family: "Grotesk", sans-serif, Arial, Helvetica;
  font-weight: 500;
}

.page__content {
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 40px;
}

@media screen and (max-width: 768px) {
  .page__content {
    padding: 0 16px;
  }
}
