.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 496px;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 28px 28px 36px;
  position: relative;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.modal__container_type_preview {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 610px;
}

.modal__title {
  font-size: 16px;
  margin: 0 0 24px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.modal__input {
  border: none;
  border-bottom: solid 1px rgb(0, 0, 0);
}

.modal__input_error {
  border-color: red;
}

.modal__error {
  color: red;
  font-size: 16px;
  display: block;
}

.modal__submit-error {
  color: red;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.modal__input:focus {
  outline: none;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 0 32px;
  gap: 8px;
}

.modal__radio-label {
  display: flex;
  align-items: center;
}

.modal__radio-text {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.modal__radio-input {
  display: none;
}

.modal__custom-radio {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.modal__radio-input:checked + .modal__custom-radio::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__radio-input:checked + .modal__custom-radio + .modal__radio-text {
  opacity: 1;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  border: none;
  background-image: url("../../assets/close-button.svg");
  cursor: pointer;
}

.modal__submit-button {
  width: 124px;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  border: none;
  padding: 8px 16px;
  line-height: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.modal__submit-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.modal__submit-button:not(:disabled):hover {
  opacity: 0.6;
}

/* ItemModal */

.modal__image {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 498px;
  object-fit: cover;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 0 32px 32px;
  font-size: 20px;
  position: relative;
}

.modal__caption {
  margin: 0;
}

.modal__weather {
  margin: 0;
}

.modal__delete-button {
  color: #ff4d00;
  background: transparent;
  border: none;
  width: 101px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 32px;
  cursor: pointer;
}

.modal__close-button_type_preview {
  background: transparent url(../../assets/close-button-white.svg) center
    no-repeat;
}

/* DeleteConfirmationModal */

.modal__container_type_delete {
  max-width: 670px;
  padding: 60px 151px;
}

.modal__button-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
}

.modal__title_type_delete {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
  width: 367px;
  margin: 0;
}

.modal__confirm-button {
  color: #ff4d00;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
}

.modal__cancel-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
}

@media screen and (max-width: 540px) {
  .modal__container_type_delete {
    padding: 36px 28px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 430px) {
  .modal__close-button_type_preview {
    background: transparent url(../../assets/close-button-black.svg) center
      no-repeat;
  }

  .modal_type_preview {
    padding: 16px;
  }

  .modal_type_add-garment {
    align-items: flex-end;
  }

  .modal__container {
    padding: 32px 16px;
  }

  .modal__container_type_preview {
    padding: 0;
    height: 400px;
  }

  .modal__image {
    height: 285px;
  }

  .modal__radio-buttons {
    margin: 0 0 30px;
  }

  .modal__submit-button {
    width: 100%;
    padding: 12px 0;
  }

  .modal__close-button {
    background: transparent url(../../assets/close-button-black.svg) center
      no-repeat;
  }

  .modal__close-button_type_delete {
    top: -26px;
    right: 5px;
  }
}

@media screen and (max-width: 375px) {
  .modal__title_type_delete {
    font-size: 17px;
    width: 345px;
  }
}
