.header {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  padding: 32px 0 28px;
  align-items: center;
  position: relative;
}

.header__info-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__date-and-location {
  margin: 0;
  line-height: 24px;
}

.header__button {
  font-size: 20px;
  line-height: 2.4;
  font-weight: 700;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__user-name {
  margin: 0 68px 0 0;
  color: #000;
}

.header a {
  text-decoration: none;
}

.header__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  cursor: pointer;
  border-radius: 50%;
}

.header__user-info {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__avatar-container {
  position: relative;
  width: 40px;
  height: 40px;
}

.header__avatar-container:hover
  .header__avatar_default:not(.header__avatar_letter) {
  opacity: 0;
}

.header__avatar-container:hover .header__avatar_hover {
  opacity: 1;
}

.header__avatar_default {
  position: absolute;
  top: 0;
  left: 0;
}

.header__avatar_hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.header__avatar_letter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 206, 206);
  color: #fff;
  border: 1px solid black;
  font-weight: 700;
  font-size: 20px;
}

.header__menu-button {
  display: none;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 0;
}

.header__close-button {
  display: none;
}

.header__menu-icon {
  width: 44px;
  height: 44px;
}

.header__button-container {
  display: flex;
  gap: 20px;
}

.header__register-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__login-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 853px) {
  .header {
    padding: 18px 0 16px;
  }
  .header__user-name {
    margin: 0;
  }
}

@media screen and (max-width: 540px) {
  .header__info-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
  }

  .header__menu-button {
    display: block;
  }

  .header__user-container {
    display: none;
    background: #fff;
    position: absolute;
    width: 100%;
    height: 296px;
    top: 18px;
    z-index: 1;
    border-radius: 5px;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 0;
  }

  .header__user-name {
    margin: 0;
  }

  .header__user-container_open {
    display: flex;
  }

  .header__close-button_open {
    display: block;
    position: absolute;
    top: 29px;
    right: 8px;
    background: transparent url(../../assets/close-button-black.svg) center
      no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    z-index: 2;
    cursor: pointer;
  }
}

@media screen and (max-width: 430px) {
  .header_type_profile {
    padding-bottom: 20px;
  }

  .header__info-container_type_profile {
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-size: 16px;
  }

  .header__user-container {
    height: 240px;
  }
}
