.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

.sidebar__user-name {
  margin-left: 70px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar__avatar-container {
  position: relative;
  width: 56px;
  height: 56px;
}

.sidebar__avatar-container:hover .sidebar__avatar_default {
  opacity: 0;
}

.sidebar__avatar-container:hover .sidebar__avatar_hover {
  opacity: 1;
}

.sidebar__avatar_default {
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar__avatar_hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.sidebar__edit-profile-btn {
  background: transparent;
  width: 171px;
  padding: 0;
  border: none;
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  cursor: pointer;
}

.sidebar__logout-btn {
  background: transparent;
  width: 65px;
  padding: 0;
  border: none;
  font-size: 20px;
  font-weight: 700;
  margin-top: 8px;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .sidebar {
    align-items: normal;
  }

  .sidebar__user-name {
    margin: 0 0 0 20px;
    font-size: 24px;
  }

  .sidebar {
    border-top: 1px solid rgb(0, 0, 0, 0.3);
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    padding: 20px 0;
  }

  .sidebar__edit-profile-btn {
    opacity: 0.6;
  }

  .sidebar__logout-btn {
    opacity: 0.6;
  }
}
