.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidebar__header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.sidebar__user-name {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.sidebar__avatar-container {
  position: relative;
  width: 56px;
  height: 56px;
}

.sidebar__avatar-container:hover
  .sidebar__avatar_default:not(.sidebar__avatar_letter) {
  opacity: 0;
}

.sidebar__avatar-container:hover .sidebar__avatar_hover {
  opacity: 1;
}

.sidebar__avatar_default {
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar__avatar_hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.sidebar__avatar_letter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 206, 206);
  color: #fff;
  border: 1px solid black;
  font-weight: 700;
  font-size: 30px;
}

.sidebar__button-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar__edit-profile-btn {
  background: transparent;
  width: 171px;
  padding: 0;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.sidebar__logout-btn {
  background: transparent;
  width: 65px;
  padding: 0;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .sidebar {
    border-top: 1px solid rgb(0, 0, 0, 0.3);
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    padding: 20px 0;
  }

  .sidebar__header {
    align-items: flex-start;
    gap: 20px;
  }

  .sidebar__user-name {
    font-size: 24px;
  }

  .sidebar__button-container {
    margin-left: 76px;
  }

  .sidebar__edit-profile-btn {
    opacity: 0.6;
  }

  .sidebar__logout-btn {
    opacity: 0.6;
  }
}
